#resume{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 1px black solid;
    background-color: rgb(255, 255, 255);
}

#components{
    display: flex;

}

#rightComponent {
    flex-basis: 70%;
}

#leftComponent {
    flex-basis: 30%;
}

*{
    font-family: Calibri, sans-serif;
}