#educationDetails #btn-1{
    margin-right: 40px;
}

button{
    margin-bottom: 5px;
}

#educationDetails .element > label{
    flex-basis: 15%;
    font-weight: bold;
}

.element > input{
    flex-basis: 70%;
}

.education-entry{
    border: 1px black solid;
    margin-bottom: 7px;
    padding-left: 10px;
}