#project-entries #btn-1{
    margin-right: 40px;
}

button{
    margin-bottom: 5px;
}

.project-entry{
    border: 1px black solid;
    margin-bottom: 5px;
}

.btn-3{
    margin-right: 40px;
}

.project-entry h4{
    margin-top:5px;
    margin-bottom: 5px;
}

.project-entry label{
    flex-basis: 3%;
}

#description {
    display: flex;
}

#description label{
    font-weight: bold;
    flex-basis: 7%;
}

#description textarea{
    flex-basis: 70%;
    margin-bottom: 5px;
}