#projects h2{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 21.34px;
}

.tech-used{
    display: flex;
    justify-content: flex-start;
}

.tech-used > div{
    margin-right: 30px;
}

#projects > ul > li > h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

#projects > ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

#projects > ul > li > p {
    margin-top: 4px;
    margin-bottom: 4px;
}